<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotion Success</title>
</head>
<body>
    <div class="container">
        <h1>Promotion Successful</h1>
        <p>The students has been successfully promoted to the next level.</p>
        <a href="{% url 'promotion_home' %}" class="btn">Promote Another Student</a>
        <a href="{% url 'main_page' %}" class="btn">Return to Homepage</a>
    </div>
</body>
</html>