<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Sessions</title>
</head>
<body>
    <h1>Your Sessions</h1>
    <ul>
        {% for session in sessions %}
            <li><a href="{% url 'student_terms' session.id %}">{{ session.AcademicSession }}</a></li>
        {% empty %}
            <li>No sessions found.</li>
        {% endfor %}
    </ul>
   <div> <a href="{% url 'student_logout' %}">Logout</a></div>

</body>
</html>